* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  /* background: rgb(252,234,230); */
  background: rgba(252,255,221,1);
  /* Try to fix the height too */
  /* background: linear-gradient(148deg, rgba(252,234,230,1) 0%, rgba(252,255,221,1) 100%); */
  background-size: cover;
  /* background-repeat: no-repeat; */
}

:link {
  color: #000;
}

:visited {
  color: #000;
}

:hover {
  color: #000;
}

#searchBarLabel {
  font-size: 30px;
}

#homepage img {
  grid-column-start: 1;
  grid-row-start: 1;
}

#homepage h2 {
  grid-column-start: 2;
  grid-row-start: 1;
  /* background-color: #333; */
}

#homepage p {
  grid-column-start: 2;
  grid-row-start: 2;
}

#results h2 {
  order: 0;
  /* border: 1px black solid; */
}

#results img{
  order: 1;
  /* border: 1px black solid; */
}

#results p {
  order: 2;
  /* border: 1px black solid; */
}